.temaClaro {
    background-image: url('/public/img/oqueSomos/bgHistoricoMobile.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.temaEscuro {
    background-image: url('/public/img/oqueSomos/bgHistoricoMobile2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}








@media screen and (min-width:768px) {
    .temaClaro {
        background-image: url('/public/img/oqueSomos/bgHistorico.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

    }

    .temaEscuro {
        background-image: url('/public/img/oqueSomos/bgHistorico2.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }

}