.spotify:hover {
    color: #7ab800 !important;
}

.instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    border-radius: 4px;
}

.linkedin:hover {
    color: #007bb6 !important;
}

.youtube:hover {
    color: #bb0000 !important;
}

.facebook:hover {
    color: #3b5998 !important;
}

.whatsapp:hover {
    color: #34af23 !important;
}

@media screen and (min-width:768px) {
    .icones {
        font-size: 16px;
    }
}